body {
    font-family: Arial, sans-serif;
    background-color: #4caf50;
    margin: 0;
    padding: 0;
    display: grid;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h2{ text-align: center;}

form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 500px;
    margin-left: 150px;;
}

label {
    display: block;
    margin-bottom: 8px;
}

input,
select,
button {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

button {
    background-color: #4caf50;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

table {
    width: 800px;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
     
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
    text-align: center;;
}

th {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
}

.action-buttons button {
    margin-right: 5px;
    color:black;
    background-color: #2196F3;
     
}
caption{
    font-size: 20px;
    font-weight: 700;
}